@model IEnumerable<SAT.DATA.EF.StudentStatus>

@{
    ViewBag.Title = "Student Status";
}

@Html.Partial("_BannerPartial")

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "mt-2 btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SSName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SSName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSDescription)
        </td>
        <td>
            <a href="@Url.Action("Edit", "StudentStatus", new { id=item.SSID })"><i class="fas fa-edit"></i></a>

            <br />

            <a href="@Url.Action("Details", "StudentStatus", new { id=item.SSID })"><i class="fas fa-info-circle"></i></a>

            <br />

            <a href="@Url.Action("Delete", "StudentStatus", new { id=item.SSID })">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
}

</table>