@model IEnumerable<SAT.DATA.EF.ScheduledClassStatus>

@{
    ViewBag.Title = "Class Status";
}

@Html.Partial("_BannerPartial")

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "mt-2 btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SCSName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SCSName)
        </td>
        <td>
            <a href="@Url.Action("Edit", "ScheduledClassStatus", new { id=item.SCSID })"><i class="fas fa-edit"></i></a>

            <br />

            <a href="@Url.Action("Details", "ScheduledClassStatus", new { id=item.SCSID })"><i class="fas fa-info-circle"></i></a>

            <br />

            <a href="@Url.Action("Delete", "ScheduledClassStatus", new { id=item.SCSID })">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
}

</table>
