@model IEnumerable<SAT.DATA.EF.Enrollment>

@{
    ViewBag.Title = "Enrollments";
}

@Html.Partial("_BannerPartial")

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "mt-2 btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledClass.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledClass.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Enrollments", new { id=item.EnrollmentId })"><i class="fas fa-edit"></i></a>

            <br />

            <a href="@Url.Action("Details", "Enrollments", new { id=item.EnrollmentId })"><i class="fas fa-info-circle"></i></a>

            <br />

            <a href="@Url.Action("Delete", "Enrollments", new { id=item.EnrollmentId })">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
}

</table>
